*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");

body {
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
}

#nav {
  position: fixed;
  right: 0;
}

#open,
#about,
#tokenomics,
#roadmap,
#social {
  min-height: 60vh;
}

#about {
  background: #0bcafe;
}
#whitepaper {
  background: #0bcafe;
  min-height: 50vh;
}

#open {
  .logo {
    width: 50%;
    margin: 0 auto;

    @media (max-width: 1100px) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .title {
    z-index: 99;
    position: absolute;
    top: 13%;
    left: 10%;
    font-size: 40px;

    .buttons {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        text-align: center;
        margin: 5px 0;
        padding: 20px 10px;

        background: black;
        color: #ffe00b;

        width: 50%;

        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        letter-spacing: 2px;

        transition: 400ms;

        cursor: pointer;

        @media (max-width: 800px) {
          width: 100%;
        }

        &:hover {
          background-color: #ffe00b;
          color: black;
        }
      }
    }

    @media (max-width: 1100px) {
      font-size: 25px;
    }
    @media (max-width: 800px) {
      font-size: 23px;
      position: static;
      width: max-content;
      margin: 0 auto;
    }
  }
  .presale {
    margin: 15px auto;
    width: max-content;

    font-size: 20px;

    h2 {
      font-weight: 500;
    }

    text-align: center;
  }
}

.content {
  width: 80%;
  margin: 15px auto;

  padding: 50px 0;
}

#about {
  .content {
    width: 80%;
    margin: 15px auto;

    padding: 50px 0;

    .aboutshib {
      margin: 25px 0;
      font-size: 25px;
      font-weight: 900;
    }
    .text {
      font-size: 18px;

      @media (max-width: 800px) {
        font-size: 15px;
      }
      p {
        margin: 15px 0;
      }
      .join {
        margin-bottom: 15px;
        font-weight: 600;
      }
    }
  }
}

#tokenomics {
  .tok {
    font-size: 25px;
    margin: 25px 0;
    font-weight: 900;
  }

  .pie {
    @media (max-width: 800px) {
      width: 100%;
    }
    width: 60%;
    margin: 55px auto;
    img {
      width: 100%;
    }
  }

  .dist {
    width: 100%;
    margin: 20px 0;

    .container {
      display: flex;
      margin: 25px 0;

      .whitelist,
      .presale,
      .lp,
      .marketing,
      .giveaway {
        padding: 40px;
        text-align: center;

        cursor: pointer;

        @media (max-width: 800px) {
          padding: 20px 5px;
          font-size: 11px;
        }
      }

      .whitelist {
        background-color: #ffe00b;
        width: 20%;

        &:hover {
          background-color: #fff196;
        }
      }

      .presale {
        background-color: #fc7e81;
        width: 25%;

        &:hover {
          background-color: #ffb4b5;
        }
      }

      .lp {
        background-color: #f99a28;
        width: 32%;

        &:hover {
          background-color: #ffc988;
        }
      }

      .marketing {
        background-color: #0bcafe;
        width: 11%;

        &:hover {
          background-color: #6ee0ff;
        }
      }

      .giveaway {
        background-color: #f43f08;
        width: 12%;

        &:hover {
          background-color: #ffac93;
        }
      }
    }

    .breakdown {
      .wl,
      .ps,
      .liqp,
      .mark,
      .ga {
        display: flex;
        margin: 10px 0;
      }

      .block-wl,
      .block-ps,
      .block-liqp,
      .block-mark,
      .block-ga {
        width: 10%;
        background: black;
        margin-right: 10px;
      }

      .block-wl {
        background-color: #ffe00b;
      }
      .block-ps {
        background-color: #fc7e81;
      }
      .block-liqp {
        background-color: #f99a28;
      }
      .block-mark {
        background-color: #0bcafe;
      }
      .block-ga {
        background-color: #f43f08;
      }
    }
  }
}

#whitepaper {
  margin: 0 auto;
  width: 100%;
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }
  .white1,
  .white2 {
    img {
      width: 100%;
      padding: 50px;
    }
  }
}
